<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="src/favicon.ico">
	<!--<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu" rel="stylesheet"> not used yet-->
	<title>PiWeather</title>

	<!-- Bootstrap core CSS -->
	<link href="src/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="src/style.css" rel="stylesheet">

</head>

<body>

	<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
		<a class="navbar-brand" href="#">RPi Weather Station</a>
		<ul class="nav navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="output.csv">Exports <span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</nav>
	<div class="alert alert-warning" style="margin-top:-1.75em" role="alert">
		<strong>Warning!</strong> This is not production software
	</div>
	{{#unless ready}}
	<div class="alert alert-warning" style="margin-top:-1.75em" role="alert">
		<strong>Warning!</strong> There is no data available yet.</div>{{/unless}}
	<div class="container">
		{{#if ready}}
		<div class="row">
			{{#each sensors}}
			<div class="col-md-3">
				<div class="jumbotron">
					<h1 class="display-3" id="center">{{value}}{{#if small}}<strong style="font-size:0.5em">{{{unit}}}</strong>{{else}}{{{unit}}}{{/if}}</h1>
					<p class="lead" id="center">{{measurement}}</p>
					<hr>
					<p class="lead" id="center">{{location}}</p>
				</div>
			</div>
			{{/each}}
		</div>
		<p class="lead">
			Data recorded <span class="measurementTime">{{measurementTime}}</span> seconds ago
		</p>

		<hr>
		<!--<div class="alert alert-success" style="margin-top:-1.75em" role="alert">
		<strong>Finally</strong> Graphing has become reliable; as a result the graphs are shown below
	</div> -->
	</div>
	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">Temperature</h4>
						<h6 class="card-subtitle text-muted">Sensor 0</h6>
					</div>
					<div style="width:90%; margin-left:5%; margin-bottom: 5%;">
						<canvas id="ambient"></canvas>
					</div>

					<div class="card-footer text-muted">
						Data recorded <span class="measurementTime">{{measurementTime}}</span> seconds ago
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-block">
<h4 class="card-title">Pressure</h4>
						<h6 class="card-subtitle text-muted">Sensor 1</h6>
					</div>
					<div style="width:90%; margin-left:5%; margin-bottom: 5%;">
						<canvas id="pressure"></canvas>
					</div>

					<div class="card-footer text-muted">
						Data recorded <span class="measurementTime">{{measurementTime}}</span> seconds ago
					</div>
					{{/if}} </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">Humidity</h4>
						<h6 class="card-subtitle text-muted">Sensor 2</h6>
					</div>
					<div style="width:90%; margin-left:5%; margin-bottom: 5%;">
						<canvas id="humidity"></canvas>
					</div>

					<div class="card-footer text-muted">
						Data recorded <span class="measurementTime">{{measurementTime}}</span> seconds ago
					</div>
				</div>
      </div>
		</div>
    {{#if dev}}
		<div class="container">
			<div class="base">
				<h1>Data</h1>
				<p class="lead">Loading...</p>
			</div>
			<div class="container">
			</div>
		</div>
	</div>
	{{/if}}
	</div>
</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Source code on <a href="https://github.com/comp500/sensor-reporter">GitHub</a></p>
		</div>
	</footer>
	<script src="src/chartJS/Chart.bundle.js"></script>
	<script src="src/chartJS/samples/utils.js"></script>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
	<script>
		window.jQuery || document.write('<script src="src/jquery.js"><\/script>')

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
	<script src="src/bootstrap.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
	<script src="src/ie10-viewport-bug-workaround.js"></script>
	-->
	<script src="src/graphloader.js"></script>
	</div>
</body>

</html>
