<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="src/favicon.ico">
	<!--<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu" rel="stylesheet"> not used yet-->
	<title>PiWeather</title>

	<!-- Bootstrap core CSS -->
	<link href="src/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="src/style.css" rel="stylesheet">

</head>

<body>

	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
		<a class="navbar-brand" href="#">RPi Weather Station</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="output.csv">Exports</a>
			</li>
		</ul>
	</nav>
	
	{{#unless ready}}
	<div class="alert alert-warning" role="alert">
		<strong>Warning!</strong> There is no data available yet.
	</div>
	<div class="container">
		<a href="/"><h2>Click to refresh</h2></a>
	</div>
	{{/unless}}
	{{#if ready}}
	<div class="alert alert-warning" role="alert">
		<strong>Warning!</strong> This is not production software.
	</div>
	<div class="container">
		<div class="row">
			{{#each sensors}}
			<div class="col-md-3">
				<div class="jumbotron">
					<h1 class="display-3 text-center">{{value}}{{#if small}}<strong class="small-unit">{{{unit}}}</strong>{{else}}{{{unit}}}{{/if}}</h1>
					<p class="lead text-center">{{measurement}}</p>
					<hr>
					<p class="lead text-center">{{location}}</p>
				</div>
			</div>
			{{/each}}
		</div>
		
		<p class="lead">
			Data recorded <span class="measurementTime">{{measurementTime}}</span> seconds ago
		</p>

		<hr>

		<div class="row">
			{{#each sensors}}
			<div class="col-md-6">
				<div class="card">
					<div class="card-block">
						<h4 class="card-title">{{measurement}}</h4>
						<h6 class="card-subtitle text-muted">Sensor {{sensorID}} in {{location}}</h6>
					</div>
					<div class="graph-container">
						<canvas id="graph-{{sensorID}}"></canvas>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	{{/if}}
	
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Source code on <a href="https://github.com/comp500/sensor-reporter">GitHub</a></p>
		</div>
	</footer>
	<script defer src="src/js/Chart.bundle.min.js"></script>
	<script defer src="src/graphloader.js"></script>
</body>

</html>
